#For the default console output:
	CONFIG_SERIAL_8250=y
	CONFIG_SERIAL_8250_CONSOLE=y

	CONFIG_VIRTIO=y
	CONFIG_VIRTIO_RING=y
	CONFIG_VIRTIO_PCI=y

#For virtio-blk devices (--disk, -d):
	CONFIG_VIRTIO_BLK=y

#For virtio-net devices ([--network, -n] virtio):
	CONFIG_VIRTIO_NET=y

#For virtio-9p devices (--virtio-9p):
	CONFIG_NET_9P=y
	CONFIG_NET_9P_VIRTIO=y
	CONFIG_9P_FS=y

#For virtio-console device (--console virtio):
	CONFIG_VIRTIO_CONSOLE=y

#For virtio-rng device (--rng):
	CONFIG_HW_RANDOM_VIRTIO=y

#For vesa device (--sdl or --vnc):
	CONFIG_FB_VESA=y
