CONFIG_VIRTIO=y
CONFIG_VIRTIO_RING=y
CONFIG_VIRTIO_PCI=y

#For virtio-blk devices (--disk, -d):
CONFIG_VIRTIO_BLK=y

#For virtio-net devices ([--network, -n] virtio):
CONFIG_NET=y
CONFIG_VIRTIO_NET=y

#For virtio-rng device (--rng):
CONFIG_HW_RANDOM_VIRTIO=y

#For KVM
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_POSIX_MQUEUE=y

CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y


CONFIG_VIRTIO_BALLOON=y

#DA VERIFICARE
CONFIG_KALLSYMS=n
