# Serial and console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_UNIX98_PTYS=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y


# VirtIO support
CONFIG_VIRTIO=y
CONFIG_VIRTIO_RING=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HW_RANDOM_VIRTIO=y


# KVM hypervisor dependencies
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_POSIX_MQUEUE=y


# Static kernel reductions
CONFIG_KALLSYMS=n
CONFIG_LOG_BUF_SHIFT=12
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_NR_CPUS=1


# Unused host subsystems and drivers
CONFIG_INPUT=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SOUND=n
CONFIG_USB_SUPPORT=n
CONFIG_FB_VESA=n
CONFIG_9P_FS=n
CONFIG_NET_9P=n
CONFIG_NET_9P_VIRTIO=n


# Runtime and memory allocator optimizations
CONFIG_SLUB_TINY=y
CONFIG_CMA=n
CONFIG_TRANSPARENT_HUGEPAGE=n


# Debugging and offline symbols
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
