#For the default console output:
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
#Device tree
CONFIG_SERIAL_OF_PLATFORM=y

CONFIG_VIRTIO=y
CONFIG_VIRTIO_RING=y
CONFIG_VIRTIO_PCI=y

#For virtio-blk devices (--disk, -d):
CONFIG_VIRTIO_BLK=y

#For virtio-net devices ([--network, -n] virtio):
CONFIG_VIRTIO_NET=y

# ------------------------------------------------------------------------------
# Category 1: Static Kernel (vmlinux / Kconfig) Reductions
# ------------------------------------------------------------------------------
# Disable kernel symbol lookup table (/proc/kallsyms) -> Saves ~1.0 MB RAM
CONFIG_KALLSYMS=n

# Reduce printk ring buffer size to 2^12 = 4096 bytes (4 KB) -> Saves ~570 KB RAM
CONFIG_LOG_BUF_SHIFT=12

# Pass -Os to compiler for instruction footprint reduction (.text)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

# Restrict static per-CPU array allocations (.data..percpu) to 1 CPU core
CONFIG_NR_CPUS=1

# Strip unused host hardware drivers and filesystems (Headless Host)
CONFIG_INPUT=n
CONFIG_KEYBOARD_ATKBD=n
CONFIG_SOUND=n
CONFIG_USB_SUPPORT=n
CONFIG_FB_VESA=n
CONFIG_9P_FS=n
CONFIG_NET_9P=n
CONFIG_NET_9P_VIRTIO=n

#For virtio-console device (--console virtio):
CONFIG_VIRTIO_CONSOLE=y

#For virtio-rng device (--rng):
CONFIG_HW_RANDOM_VIRTIO=y

#For KVM
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_POSIX_MQUEUE=y

CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_UNIX98_PTYS=y

