# Debugging symbols (0 bytes RAM usage, increases offline vmlinux size for GDB/Volatility)
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_NONE=n

# CRASH_DUMP infrastructure (Requires PM_SLEEP_SMP -> PM -> SUSPEND)
CONFIG_PM=y
CONFIG_SUSPEND=y
CONFIG_PM_SLEEP=y
CONFIG_PM_SLEEP_SMP=y
CONFIG_KEXEC=y
CONFIG_KEXEC_FILE=y
CONFIG_KEXEC_CORE=y
CONFIG_CRASH_CORE=y
CONFIG_CRASH_DUMP=y
