# Debugging symbols (0 bytes RAM usage, increases offline vmlinux size for GDB)
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_NONE=n
CONFIG_DEBUG_FS=y

# Memory Inspection (VirtIO Balloon and internal kernel telemetry)
CONFIG_VIRTIO_BALLOON=y
CONFIG_VM_EVENT_COUNTERS=y
CONFIG_COMPACTION=y
CONFIG_BALLOON_COMPACTION=y
# CONFIG_SLUB_TINY is not set
CONFIG_SLUB=y
CONFIG_SLUB_DEBUG=y
CONFIG_SLABINFO=y
CONFIG_PRINTK=y

# 4KB Page Size Default
CONFIG_ARM64_4K_PAGES=y
# CONFIG_ARM64_64K_PAGES is not set
