# Serial and console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_UNIX98_PTYS=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y


# VirtIO support
CONFIG_VIRTIO=y
CONFIG_VIRTIO_RING=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HW_RANDOM_VIRTIO=y

# VFIO Physical Passthrough Drivers
CONFIG_E1000E=y


# 9P filesystem sharing
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y


# Graphics and display
CONFIG_FB_VESA=y


# Asynchronous I/O and IPC
CONFIG_AIO=y
CONFIG_IO_URING=y
CONFIG_POSIX_MQUEUE=y

# IOMMU SUPPORT
CONFIG_IOMMU_SUPPORT=y
CONFIG_IOMMU_IOVA=y
CONFIG_VIRTIO_IOMMU=y

# ENABLING BALOONING IN THE GUEST
CONFIG_VIRTIO_BALLOON=y

