# --- VirtIO Basics ---
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_NET=y
CONFIG_VIRTIO_NET=y

# --- AHCI Storage ---
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_ATA=y
CONFIG_SATA_AHCI=y

# --- Standard Ethernet ---
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000E=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HVC_DRIVER=y

# --- Guest OS Base (Required by X11) ---
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_UNIX_DIAG=y
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_MULTIUSER=y
CONFIG_SHMEM=y
CONFIG_KALLSYMS=n

# --- Graphics (BOCHS) ---
CONFIG_DRM=y
CONFIG_DRM_BOCHS=y
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# --- Audio Support ---
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_PCI=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_PCM=y
CONFIG_SND_TIMER=y
CONFIG_SND_PCM_TIMER=y

# --- Virtual Terminal ---
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y

# --- Input & USB (Passed-through Devices) ---
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_MOUSE=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_PCI=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_HID=y
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_PCI_MSI=y
CONFIG_INOTIFY_USER=y

# --- DMA Bounce Buffer (SWIOTLB) & Debugfs ---
CONFIG_SWIOTLB=y
CONFIG_SWIOTLB_DYNAMIC=y
CONFIG_DMA_RESTRICTED_POOL=y
CONFIG_DEBUG_FS=y
