# Hypervisor Core
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y

# Virtual I/O
CONFIG_EPOLL=y
CONFIG_EVENTFD=y
CONFIG_TIMERFD=y
CONFIG_SIGNALFD=y
CONFIG_AIO=y

# Topology & Virtual RAM Filesystems
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_TMPFS=y
