# Serial and TTY console for ARM64
CONFIG_TTY=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y


# Virtual storage and PCI bus
CONFIG_PCI=y
CONFIG_PCI_HOST_GENERIC=y

# Core Block Layer (Required by virtio.scc and ext4.scc)
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y

# Core Kernel output and Device Tree support (Required for QEMU 'virt' ARM64)
CONFIG_PRINTK=y
CONFIG_OF=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_ARM_AMBA=y
