# ZRAM Core
CONFIG_SWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=y

# ZSTD Crypto Libraries
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_ZRAM_BACKEND_ZSTD=y

# CONFIG_ZRAM_BACKEND_FORCE_LZO is not set
# CONFIG_ZRAM_BACKEND_LZO is not set
# CONFIG_ZRAM_DEF_COMP_LZORLE is not set
# CONFIG_ZRAM_DEF_COMP_LZO is not set

CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_ZRAM_DEF_COMP="zstd"

CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_LRU_GEN_STATS=y

CONFIG_TRANSPARENT_HUGEPAGE=n
