# ZRAM Compression Support
# Enables the ZRAM block device, LZ4, and the zsmalloc allocator.
CONFIG_SWAP=y
CONFIG_ZSMALLOC=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_ZRAM=y
CONFIG_ZRAM_DEF_COMP="zstd"
